.container {
   
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    padding: 10px;
    background-color: #6997BF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;

    &:hover {
        background-color: white;
        color: #6997BF;
        border: 2px solid #6997BF;
    }
}


.readerContainer{
    width: 300px;
    height: 300px;
}

